.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 80px;
}

.App-header {
  color: white;
  padding: 0px;
  border: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.img-container {
  height: 100vh;
}
